*{
    font-family: 'Satisfy', cursive;
}
body{
    background-color:   #000302 ;
    color: azure;
}

.titlee{
    font-size:26px;
    
}
header{
    margin: 0 auto;
}

.tarjeta{
    color: #000302;
    font-family: 'Fjalla One', sans-serif;
}

.texx{
    font-family: 'Fjalla One', sans-serif;
}