*{
    font-family: 'Satisfy', cursive;
}
body{
    background-color:   #000302 ;
    color: black;
}

.titlee{
    font-size:40px;
    color: aliceblue;
    
}
header{
    margin: 0 auto;
}

.tarjeta{
    color: #000302;
    font-family: 'Fjalla One', sans-serif;
}

.texx{
    font-family: 'Fjalla One', sans-serif;
}